$main-font-family: 'Oxygen Mono', monospace;

// BLUE
$lochmara: #008dd2;
$picton-blue: #49ade2;
$shakespeare: #56abd5;

// GRAY
$iron: #d9dada;
$outer-space: #292f33;

// GREEN
$malachite: #00DC60;
$spring-green: #10FC77;

// YELLOW 
$selective-yellow: #FFB800;

// RED
$scarlet: #FF3500;
