.item {
  margin: 10px 0;
  font-size: 32px;
  color: rgba(#fff, .6);
  text-decoration: none;
  outline: none;
  transition: .3s;

  &--active {
    color: #fff;
  }

  &::before {
    content: attr(data-hover);
    position: absolute;
    opacity: 0;
    color: #fff;
    transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
    transition: transform 0.3s, opacity 0.3s;
    pointer-events: none;
  }

  &:hover::before,
  &:focus::before {
    transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
    opacity: 1;
  }

  @media (min-width: 700px) {
    font-size: 48px;
  }
}