.wrapper {
  height: 100%;
  overflow: hidden;
  position: relative;

  &--scrollable {
    overflow-y: auto;
  }

  .main {
    height: 100%;
    transition: transform .7s;
    transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
    
    &--hidden {
      transform: translateX(100%);
    }
  }
}
