@import '../../scss/base/variables';

.icons-list {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;

  li a {
    color: #fff;
    transition: .3s;
    outline: none;

    &:hover,
    &:focus {
      color: $selective-yellow;
    }
  }
}
